* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  background-color: #7cc6fe;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.app {
  background-color: #252d4a;
  min-height: 200px;
  max-width: 700px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .75);
}

.quizz {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.img {
  padding-top: 20px;
  width: 100%;
}

img {
  width: 100%;
}

.question__section {
  flex: 0 0 50%;
}

.answer__section {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question__count {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 2px solid #234668;
  margin: 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #234668;
}

.section__score {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 25px;
}

@media (max-width: 640px) {
  .quizz {
    flex-direction: column;
  }
}